@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html[data-theme='rainbow'] .main-background {
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(249,255,0,1) 25%, rgba(1,255,0,1) 52%, rgba(0,21,255,1) 77%, rgba(231,0,255,1) 100%);
  }

  html[data-theme='rainbow'] .component-topbar {
    background: rgba(255, 255, 255, 0.2);
  }

  html[data-theme='rainbow'] .component-timeslot {
    box-shadow: none;
  }
  html[data-theme='rainbow'] .component-timeslot-event {
    border: rgb(120,120,210) 2px solid;
    background: unset;
    @apply bg-dark
  }
  html[data-theme='rainbow'] .component-timeslot-exam {
    border: rgb(210,120,120) 2px solid;
    background: unset;
    @apply bg-dark
  }
  html[data-theme='rainbow'] .component-timeslot.bg-darkest {
    background: transparent !important;
    border: white 1px solid;
  }
}


* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
